tests/UDPEchoClient/.settings/
tests/UDPEchoServer/.settings/
tests/TCPEchoClient/.settings/
tests/TCPEchoServer/.settings/
bin/
.metadata/
target/
.idea/
/FrontJavaMessenger/JavaMessenger/dist/
/DDMessageServer/JavaMessengerClient/build/
/DDMessageServer/JavaMessengerClient/dist/
/DDMessageServer/JavaMessengerClient/nbproject/private/
/JavaMessenger/nbproject/
/JavaMessenger/build/
.vscode
build/